@charset "UTF-8";

@font-face {
  font-family: "dashq";
  src:url("fonts/dashq.eot");
  src:url("fonts/dashq.eot?#iefix") format("embedded-opentype"),
    url("fonts/dashq.woff") format("woff"),
    url("fonts/dashq.ttf") format("truetype"),
    url("fonts/dashq.svg#dashq") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "dashq" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "dashq" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\61";
}
.icon-icon:before {
  content: "\62";
}
.icon-find:before {
  content: "\63";
}
.icon-repeat:before {
  content: "\64";
}
.icon-sql:before {
  content: "\65";
}
.icon-wipe:before {
  content: "\66";
}
.icon-responsive:before {
  content: "\67";
}
