.card{
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;

    &__item{
        cursor:default;
        //        padding-bottom: 10px;
        //        padding-top: 10px;
        padding-right: 0;
        padding-left: 0;
        min-height: 120px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
        transition: all 0.5s;
        &:hover{
            background-color: lighten($baseColor,75);
        }
        &__content{
            padding: 10px;
            &__title{
                text-transform: uppercase;
                //                color: lighten($baseColor, 22);    
            }
            &__body{
                min-height: 100px;
                position: relative;
                font-size: 1.8rem;
                display: flex;
                align-items:flex-end;
                height: 100%;    
            }

        }
        &__action{
            & .btn{
                cursor: pointer;
                background-color: unset;
                color: lighten($baseColor,30);
                &:hover{
                    background-color: lighten($baseColor, 45);
                    box-shadow: none;
                    color: lighten($baseColor,80);
                }
            }
        }


    }
    &__list{
        &__no-record{
            padding-top: 48px;
            padding-bottom: 48px;
        }
        &__action{
            border-bottom: 1px solid #eee;
            padding-bottom: 15px;
        }
        &__item{
            border-bottom: 1px solid #eee;
            padding-top: 20px;
            padding-bottom: 20px;
            transition: all 0.4s;
            .btn-compress{
                display: none;
            }
            &:hover{
                box-shadow: inset 4px 0px 0px 0px #2c6acc;
                
            }
            &__header{
                &__title{
                    line-height: 1.8rem;
                    font-weight: bold;                
                }
            }

            &__content{
                textarea{
                    width:100%;
                }

            }
            
            &--collapsed &__content{
                display: none;
                
            }
            &--collapsed {
                .btn-expand{
                    display: none;
                }
                .btn-compress{
                    display: inline-block;
                }
            }
        }
        
    }
}